#board {
    background-color: #A6CFD5;
    width: 80%;
    margin: 0 auto;
   
	margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;
  height: 400px;

	
}

#board table {
    width: 100%;
}



#board table td {
    border-right:  2px solid #fff;
    border-bottom: 2px solid #fff;
    font-size: 40px;
    width: 33.33%;

}

#board td:nth-child(3){
    border-right: none;   
}

#board tr:nth-child(3){
    border-bottom: none;
}


#board tr
 {
    width: 100%;
    text-align: center;
    height: 132px;
}


.choice {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.choice span {
font-size: 30px;
margin: 30px 20px;
}

h1, 
h2 {
    text-align: center;
}

.choice span {
    display: inline-block;
    border: 3px solid;
    border-radius: 3px;
    width: 70px;

}

.x-choice:hover, 
.o-choice:hover {
    cursor: pointer;
}

.x-choice:hover {
    background: #2c3e50;
    color: #fff;
}

.o-choice:hover {
    background: #F2DC5D;
    color: #2c3e50;
}

